<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>欢迎登录后台管理系统</title>
<link href="__PUBLIC__/Admin/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/left.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});	
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		} else {
			$(this).next('ul').slideDown();
		}
	});
})
</script>
</head>
<body style="background:#f0f9fd;">
<div class="lefttop"><span></span>功能列表</div>
<dl class="leftmenu">

  <if condition="check_premission('数据统计') "> 
  <dd>
    <div class="title"><span><img src="__PUBLIC__/Admin/image/leftico01.png" /></span>数据统计</div>
    <ul class="menuson">
      <li><cite></cite><a href="{:U('Shuju/index')}"  target="rightFrame">数据统计</a><i></i></li>
    </ul>
  </dd>
  </if>
<if condition="check_premission('基本配置') "> 
  <dd>
    <div class="title"><span><img src="__PUBLIC__/Admin/image/leftico01.png" /></span>基本配置</div>
    <ul class="menuson">
      <li><cite></cite><a href="{:U('Sitetitle/edit')}" target="rightFrame">网站名称</a><i></i></li>
      <li><cite></cite><a href="{:U('Chouzhong/edit')}"  target="rightFrame">滚动公告</a><i></i></li>
      <li><cite></cite><a href="{:U('Sysconfig/index')}" target="rightFrame">系统配置</a><i></i></li>
      <li><cite></cite><a href="{:U('News/newsedit?ntype=1')}"  target="rightFrame">客服设置</a><i></i></li>
      <li><cite></cite><a href="{:U('News/newsedit?ntype=2')}"  target="rightFrame">佣金说明</a><i></i></li>
      <li><cite></cite><a href="{:U('Yongjin/index')}"  target="rightFrame">代理等级</a><i></i></li>
      <li><cite></cite><a href="{:U('Yongjin/fenxiao')}"  target="rightFrame">三级佣金</a><i></i></li>
      <li><cite></cite><a href="{:U('sysma/index')}"  target="rightFrame">二维码设置</a><i></i></li>
      <li><cite></cite><a href="{:U('srconfig/index')}"  target="rightFrame">更多设置</a><i></i></li>
      <!--<li><cite></cite><a href="{:U('Duizhang/index')}"  target="rightFrame">对账系统</a><i></i></li>-->
    </ul>
  </dd>
    </if>
<if condition="check_premission('微信设置') ">
  <dd>
    <div class="title"><span><img src="__PUBLIC__/Admin/image/leftico01.png" /></span>微信设置</div>
    <ul class="menuson">
      <li><cite></cite><a href="{:U('Index/jiekou')}"  target="rightFrame">微信接口</a><i></i></li>
      <li><cite></cite><a href="{:U('Wxhuifu/keyleixing')}" target="rightFrame">微信回复</a><i></i></li>
      <li><cite></cite><a href="{:U('Wxcaidan/show')}" target="rightFrame">微信菜单</a><i></i></li>
    </ul>
  </dd>
 </if>

<!--游戏配置-->

<if condition="check_premission('基本配置') "> 
  <dd>
    <div class="title"><span><img src="__PUBLIC__/Admin/image/leftico01.png" /></span>游戏配置</div>
    <ul class="menuson">
      <li><cite></cite><a href="{:U('Hb/show')}"  target="rightFrame">红包设置</a><i></i></li>
      <li><cite></cite><a href="{:U('Zhuanpan/add')}"  target="rightFrame">转盘设置</a><i></i></li>
      <li><cite></cite><a href="{:U('Guaguale/add')}"  target="rightFrame">刮 刮 乐</a><i></i></li>
      <li><cite></cite><a href="{:U('Saolei/show')}"  target="rightFrame">扫&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雷</a><i></i></li>
    </ul>
  </dd>
  </if>
<!--会员管理-->
  <if condition="check_premission('会员管理') "> 
  <dd>
    <div class="title"><span><img src="__PUBLIC__/Admin/image/leftico01.png" /></span>会员管理</div>
    <ul class="menuson">
       <li><cite></cite><a href="{:U('User/index')}"  target="rightFrame">会员管理</a><i></i></li>
    </ul>
  </dd>
  </if>
 
<!--提现充值记录-->
<if condition="check_premission('提现充值记录') "> 
  <dd>
    <div class="title"><span><img src="__PUBLIC__/Admin/image/leftico01.png" /></span>提现充值记录</div>
    <ul class="menuson">
      <li><cite></cite><a href="{:U('User/chongzhi')}"  target="rightFrame">充值记录</a><i></i></li>
      <li><cite></cite><a href="{:U('User/tixian')}"  target="rightFrame">提现记录</a><i></i></li>
    </ul>
  </dd>
  </if>
<!--佣金管理-->
<if condition="check_premission('佣金管理') "> 
  <dd>
    <div class="title"><span><img src="__PUBLIC__/Admin/image/leftico01.png" /></span>佣金管理</div>
    <ul class="menuson">
      <li><cite></cite><a href="{:U('User/yongjin')}"  target="rightFrame">佣金查询</a><i></i></li>
      <li><cite></cite><a href="{:U('User/yongjinjiesuan')}"  target="rightFrame">佣金结算</a><i></i></li>
    </ul>
  </dd>
  </if>
<!--红包记录-->
<if condition="check_premission('红包记录') "> 
  <dd>
    <div class="title"><span><img src="__PUBLIC__/Admin/image/leftico01.png" /></span>红包记录</div>
    <ul class="menuson">
       <li><cite></cite><a href="{:U('User/hb')}"  target="rightFrame">红包记录</a><i></i></li>
    </ul>
  </dd>
  </if>
  
<!--网站管理员-->
<if condition="check_premission('网站管理员') "> 
  <dd>
    <div class="title"><span><img src="__PUBLIC__/Admin/image/leftico01.png" /></span>网站管理员</div>
    <ul class="menuson">
      <li><cite></cite><a href="{:U('Sysuser/userlist')}" target="rightFrame">网站管理员</a><i></i></li>
    </ul>
  </dd>
  </if>
  
<!--数据管理-->
<if condition="check_premission('数据管理') "> 
  <dd>
    <div class="title"><span><img src="__PUBLIC__/Admin/image/leftico01.png" /></span>数据管理</div>
    <ul class="menuson">
      <li><cite></cite><a href="{:U('Baksql/index')}"  target="rightFrame">备份/恢复数据</a><i></i></li>
      <li><cite></cite><a href="{:U('Index/clearall')}"  target="rightFrame">清空数据</a><i></i></li>
    </ul>
  </dd>
 </if>

</dl>
</body>
</html>