<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>欢迎登录后台管理系统</title>
<link href="__PUBLIC__/Admin/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/right.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/page.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
<script>
$(document).ready(function(){
   $(function(){
      $('.rightinfo tbody tr:odd').css("backgroundColor","#f5f8fa");
   });
});
function del(){ if(confirm("确定要删除吗？")) {   return true;  }  else  {  return false;  } }
</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="{:U('Index/center')}">首页</a></li>
    <li><a href="{:U('show')}">红包专区</a></li>
  </ul>
</div>
<div class="rightinfo">
  <div class="tools"> 
    <ul class="toolbar">
      <li><a href="{:U('add')}"><span><img src="__PUBLIC__/Admin/image/t01.png" /></span>添加</a></li> 
    </ul>
  </div>
    <table class="tablelist">
    <thead>
      <tr>
        <th >专区名字</th>
        <th>个数</th>
        <th >排序</th>
        <th >操作</th>
      </tr>
    </thead>
    <tbody>
      
      <foreach name="seldata" item="v">
      <tr height="45" align="center">
        <td><font color="#FF0000">{$v[hbzhifu]/100}</font>元专区</td>
        <td>{$v[hgeshu]}个</td>
        <td>{$v[hpaixu]}</td>
        <td>
          <img src="__PUBLIC__/Admin/image/leftico03.png" width="14">
          <a href="{:U('add?id='.$v['id'])}">编辑</a>&nbsp;
          <img src="__PUBLIC__/Admin/image/t03.png" width="14">
          <a onClick="return del()" href="{:U('del?id='.$v['id'])}" class="tablelink">删除</a>
        </td>
      </tr>
    </foreach>
      
    </tbody>
  </table>
</div>
<div class="pages">
   {$page}<empty name="seldata"><font color='#ff0000'>暂无数据</font></empty>
</div>
</body>
</html>