<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="__PUBLIC__/Admin/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/right.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Admin/css/select.css" rel="stylesheet"  type="text/css">
<script language="JavaScript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
<script language="JavaScript" src="__PUBLIC__/js/select-ui.min.js"></script>
<script>
$(document).ready(function(){
   $(function(){
   });
   $(".select1").uedSelect({
		width : 345			  
   });
});
</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="{:U('Index/center')}">首页</a></li>
    <li>网站名称</li>
  </ul>
</div>
<div class="formbody">
  <form name="fadd" method="post" action="{:U('save')}">
    <ul class="forminfo">
      <li>
        <label>标题</label>
        <input name="sitetitle" class="textinput" style="width:300px;" value="{$sysinfo['sitetitle']}" />
		</li>
      <li>
        <label>&nbsp;</label>
        <input name="submit" type="submit" class="btn" value="保存" />
      </li>
    </ul>
  </form>
</div>
</body>
</html>
