<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>欢迎登录后台管理系统</title>
<link href="__PUBLIC__/Admin/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/right.css" rel="stylesheet" type="text/css">
<script language="JavaScript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
<script>
$(document).ready(function(){
   $(function(){   });
});
</script>
<style>
.install { box-shadow: 5px 5px 5px #f7f7f7 inset; border: 1px solid #bdbcbc; width: 100%; height: 600px; overflow: hidden; display: block; overflow-y: scroll; margin: 0 auto; font-size: 12px; margin-bottom: 22px; outline: none; }
.install ul { line-height: 1.8; padding-left: 20px; }
</style>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="{:U('Admin/Index/center')}">首页</a></li>
    <li>系统日志</li>
  </ul>
</div>
<div></div>
<div class="rightinfo">
  <div class="install" id="log">
    <ul>
      <foreach name="logs" item="v">
        <li><font color="#FF0000">标示：{$v['lbiaoshi']} 时间：{$v['ltime']|date="Y-m-d H:i:s",###}</font><br>{$v['lcon']|htmlspecialchars}</li>
      </foreach>
    </ul>
  </div>
</div>
</body>
</html>