<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>欢迎登录后台管理系统</title>
<link href="__PUBLIC__/Admin/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/right.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/page.css" rel="stylesheet" type="text/css">
<script language="JavaScript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
<script>
$(document).ready(function(){
   $(function(){
      $('.rightinfo tbody tr:odd').css("backgroundColor","#f5f8fa");
   });
   $(".imgact1").click(function(){
	   var id=$(this).parent().find("input[name='id']").val();
	   var img=($(this).attr("src")=='__PUBLIC__/Admin/image/no.gif') ? "__PUBLIC__/Admin/image/yes.gif":"__PUBLIC__/Admin/image/no.gif";
	   $(this).attr("src",img);
	   $.post("{:U('ajaxuservip')}",{id:id},function(data){});
   });
   $(".imgact2").click(function(){
	   var id=$(this).parent().find("input[name='id']").val();
	   var img=($(this).attr("src")=='__PUBLIC__/Admin/image/no.gif') ? "__PUBLIC__/Admin/image/yes.gif":"__PUBLIC__/Admin/image/no.gif";
	   $(this).attr("src",img);
	   $.post("{:U('ajaxuserstate')}",{id:id},function(data){});
   });
   $("input[name='uvip']").change(function(){
	   var id=$(this).parent().find("input[name='id']").val();
	   var uvip = parseInt($(this).val());
	   if(isNaN(uvip)){return false;}
	   $.post("{:U('ajaxvip')}",{id:id,uvip:uvip},function(data){});
   });
});
</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="{:U('Index/center')}">首页</a></li>
    <li>用户</li>
  </ul>
</div>
<div class="rightinfo">
  <div class="tools"> 
    <ul class="toolbar">
      <li><a href="{:U('index?ord=uzhengzong')}"><span><img src="__PUBLIC__/Admin/image/ico03.png" /></span>佣金排行</a></li> 
      <li><a href="{:U('index?ord=uchongzong')}"><span><img src="__PUBLIC__/Admin/image/ico03.png" /></span>充值排行</a></li> 
      <li><a href="{:U('index?ustate=2')}"><span><img src="__PUBLIC__/Admin/image/t08.png" /></span>黑名单</a></li> 
      <li style="background:#FFF; text-indent:1em; border:0">
      <form name="fsoso" method="post" action="">
      昵称、用户ID、Openid：<input type="text" name="sci" class="dfinput" value="{$sci}" style="width:200px" />
      <input name="submit" class="btn" value="查询" type="submit" >
      </form></li>
    </ul>
  </div>
  <table class="tablelist">
    <thead>
      <tr>
        <th>ID</th>
        <th>Openid</th>
        <th>昵称</th>
        <th>头像</th>
        <th>推广数</th>
        <th>推广额</th>
        <th>充值</th>
        <th>余额</th>
        <th>提现</th>
        <th>收红包</th>
        <th>总佣金</th>
        <th>已发佣金</th>
        <th>未发佣金</th>
        <th>发包</th>
        <eq name="Think.session.utype" value="1">  
        <th>代理等级</th>
        </eq>
        <th>开启代理</th>
        <th>黑名单</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <foreach name="user" item='v'>
      <tr height="45" align="center">
        <td>{$v['id']}</td>
        <td>{$v['uopenid']}<br>备：{$v['ubeiopenid']}</td>
        <td>{$v['uickname']}</td>        
        <td><notempty name="v[uheadimgurl]"><img src="{$v['uheadimgurl']}" height="54" width="54"/></notempty></td>
        <td>{$v['tuijiannum']}</td>
        <td>{$v['tuijianchong']}</td>
        <td>{$v['uchongzong']/100}</td>
        <td>{$v['uqianchong']/100}</td>
        <td>{$v['tixiane']/100}</td>
        <td>{$v['hb']/100}</td>
        <td>{$v['uzhengzong']/100}</td>
        <td>{$v['uqianfa']/100}</td>
        <td>{$v['uqianzheng']/100}</td>
        <td><a href="{:U('fahb?userid='.$v[id])}">{$v['fahbnum']}</a></td>
        <eq name="Think.session.utype" value="1">  
        <td>
           <input type="hidden" name="id" value="{$v[id]}" />
           <input name="uvip" type="text" value="{$v['uvip']}" class="dfinput" style="width:30px; border:0;">
        </td>
        </eq>
        
        <td>
            <input type="hidden" name="id" value="{$v[id]}" />
            <if condition="$v[uvip] gt 0 ">
            <img src="__PUBLIC__/Admin/image/yes.gif" style="cursor:pointer;vertical-align:middle" class="imgact1" />
            <else />
            <img src="__PUBLIC__/Admin/image/no.gif" style="cursor:pointer;vertical-align:middle" class="imgact1" />
            </if>
        </td>
        
        <td>
            <input type="hidden" name="id" value="{$v[id]}" />
            <eq name="v[ustate]" value="2">
            <img src="__PUBLIC__/Admin/image/yes.gif" style="cursor:pointer;vertical-align:middle" class="imgact2" />
            <else />
            <img src="__PUBLIC__/Admin/image/no.gif" style="cursor:pointer;vertical-align:middle" class="imgact2" />
            </eq>
        </td>
            
        <td>
          <img src="__PUBLIC__/Admin/image/leftico03.png" width="14">
          <a href="{:U('edit?id='.$v[id].'&nowpage='.$nowpage)}">编辑</a>&nbsp;
        </td>
      </tr>
      </foreach>
    </tbody>
  </table>
</div>
<div class="pages">
  {$page}<empty name="user"><font color='#ff0000'>暂无数据</font></empty>
</div>
</body>
</html>