<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>欢迎登录后台管理系统</title>
<link href="__PUBLIC__/Admin/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/right.css" rel="stylesheet" type="text/css">
<script language="JavaScript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
<script>
$(document).ready(function(){
   $(function(){
      $('.rightinfo tbody tr:odd').css("backgroundColor","#f5f8fa");
   });
});
function del(){ if(confirm("确定要删除吗？")) {   return true;  }  else  {  return false;  } }
</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="{:U('Index/center')}">首页</a></li>
    <li><a href="{:U('Wxhuifu/keyleixing')}">微信回复</a></li>
    <li><a href="{:U('Wxhuifu/keylist?stype='.$stype)}"><eq name="stype" value="1">关键词回复<else/>关注回复</eq></a></li>
    <li>回复内容</li>
  </ul>
</div>
<div class="rightinfo">
  <div class="tools"> 
    <ul class="toolbar">
      <li><a href="{:U('Wxhuifu/keyconadd?stype='.$stype.'&kid='.$itemdata[id])}"><span><img src="__PUBLIC__/Admin/image/t01.png" /></span>添加回复内容</a></li> 
    </ul>
  </div>
  <table class="tablelist">
    <thead>
      <tr>
        <eq name="itemdata['kcode']"  value='0'>
        <th width="65%">内容</th>
        <else/>
        <th width="20%">标题</th>
        <th width="24%">图片</th>
        <th width="21%">链接</th>
        </eq>
        <th width="22%">排序</th>
        <th width="13%">操作</th>
      </tr>
    </thead>
    <tbody>
    
    <foreach name="seldata" item="v">
      <tr height="45" align="center">
      <eq name="itemdata['kcode']"  value='0'>
        <td>{$v['sdec']}</td>
      <else/>
        <td>{$v['sname']}</td>
        <td><notempty name="v['spic']">
        <img src="./Uploads/{$v['stime']|date='Ymd',###|substr=0,4}/{$v['stime']|date='Ymd',###|substr=4,2}/{$v['stime']|date='Ymd',###|substr=6,2}/{$v['spic']}" height="50" />
        </notempty></td>
        <td>{$v['surl']}</td>
      </eq>
        <td>{$v['snum']}</td>
        <td>
          <img src="__PUBLIC__/Admin/image/leftico03.png" width="14"> 
          <a href="{:U('Wxhuifu/keyconadd?kid='.$itemdata[id].'&id='.$v['id'].'&stype='.$stype)}">编辑</a>&nbsp;
          <img src="__PUBLIC__/Admin/image/t03.png" width="14"> 
          <a onClick="return del()" href="{:U('Wxhuifu/keycondel?id='.$v['id'].'&stype='.$stype)}" class="tablelink">删除</a>
        </td>
      </tr>
      </foreach>
      
    </tbody>
  </table>
</div>
<div style=" width:90%; padding:10px 0 10px 0; text-align:center">
  <empty name="seldata"><font color='#ff0000'>暂无数据</font></empty>
</div>
</body>
</html>