<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>程序安装</title>
<link rel="stylesheet" href="__PUBLIC__/Install/css/index.css?v={:rand(0,20)}" />
</head>

<body>
<div class="wrap">
  <div class="header">
    <h1 class="logo">程序安装</h1>
  </div>
  <div class="main">
    <pre class="agreement">
2017年3月全新版本 全功能安装
    </pre>
  </div>
  <div class="bottom text-center"> <a href="{:U('Index/step1')}" class="btn-primary">同意</a> </div>
</div>
<div class="footer"> &copy; hongbao-{:date('Y')} </div>
</body>
</html>
